.content-card {
  position:relative;
  max-width:90%;
  background:white;
  padding:1.5rem;
  margin:auto;
  margin-top:1rem;
  margin-bottom:1rem;
  border-radius:3px;
  box-shadow:2px 2px 5px gray;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2rem 2rem 2rem auto;
  grid-template-areas:"art titre"
                      "art artiste"
                      "art sous-titre"
                      "art texte"
}

.card-category {
  position:absolute;
  right:0.4rem;
  top:0.4rem;
  display:inline-block;
  padding:0.2rem 0.4rem;
  border-radius:4px;
  color:white;
  font-size:0.7rem;
}

.mus-category {
  background-color: rgba(185, 29, 66, 0.90);
}

.jv-category {
  background-color: rgba(41, 75, 103, 0.90);
}

.lit-category {
  background-color: rgba(95, 110, 95, 0.90);
}

.content-card__image {
  display:block;
  max-width:500px;
  margin:auto;
  margin-bottom:1rem;
  margin-top:1rem;
  border-radius:3px;
  box-shadow: 1px 1px 1px;
  grid-area: art;
  width:80%;
}

.content-card__title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
  grid-area: titre;
  text-align: left;
}

.content-card__artist {
  grid-area: artiste;
}

.content-card__subtitle {
  color:grey;
  font-style:italic;
  margin-bottom:1rem;
  grid-area: sous-titre;
  text-align: left;
}

.content-card__text {
  text-align: justify;
  font-weight: 200;
  grid-area: texte;
}

.content-card__text p {
  margin-bottom:0.5rem;
}

.content-card__publication-date {
  font-style: italic;
  color: #888888;
  font-size: 0.8rem;
}