.main-footer {
  position:absolute;
  bottom:0;
  width:100%;
  font-size: 0.9rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 66, 66, 0.80);
  color:white;
  padding: 8px;
}

.main-footer p {
  margin:0.5rem;
}

.main-footer a {
  text-decoration: underline;
  color:white;
}